{% extends 'home/base_1.html' %}
{% load staticfiles %}

{% block pagecss %}
    <link rel="stylesheet" href="{% static "css/bootstrap-duallistbox.css" %}"/>
{% endblock %}


<!-- 面包屑导航结束 -->
{% block breadcrumb %}
    <li>
        <a href="#">{{ menu }}</a>
    </li>
    <li class="active">{{ submenu }}</li>
{% endblock %}

<!-- 正文开始 -->
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {% if msg %}
                <div class="alert alert-warning">
                    <button data-dismiss="alert" class="close" type="button">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <strong></strong>
                    {{ msg }}
                    <br>
                </div>
            {% endif %}
            <form class="form-horizontal" role="form" id="form1" name="form1" method="post">
                {% csrf_token %}
                <!-- 用户名 -->
                {#                <h5>基本信息</h5>#}
                {#                <hr>#}
                <div class="form-group">
                    <label for="form-field-1" class="col-sm-1 control-label no-padding-right"> 组名 </label>

                    <div class="col-sm-8">
                        <input type="hidden" class="form-control" value="{{ data.id }}" id="gid" name="gid">
                        <input type="text" class="form-control" value="{{ data.name }}" id="name" name="name">
                    </div>
                </div>
                <div class="space-4"></div>
                {#                <h5>权限配置</h5>#}
                {#                <hr>#}
                <!-- 组权限 -->

                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-top" for="duallist"> 权限 </label>

                    <div class="col-sm-8">
                        <!-- #section:plugins/input.duallist -->
                        <select multiple="true" size="10" name="permission" class="demo2" id="permission">
                            {% for p in all_perms %}
                                {% if p in group_perms %}
                                    <option value="{{ p.id }}" selected>{{ p }}</option>
                                {% else %}
                                    <option value="{{ p.id }}">{{ p }}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                        <!-- /section:plugins/input.duallist -->
                        <div class="hr hr-16 hr-dotted"></div>
                    </div>
                </div>
                <div class="space-4"></div>

                <!-- 提交表单 -->
                <div class="clearfix form-actions">
                    <div class="col-md-offset-4 col-md-9">
                        <button class="btn btn-info" type="button" onclick="submit_form('form1')">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <a class="btn btn-danger" href="/system/g/list/">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            返回
                        </a>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.span -->
    </div>
{% endblock %}

<!-- 当前页面需要引入的js-->
{% block pagescripts %}
    <script src="{% static "js/jquery.bootstrap-duallistbox.js" %}"></script>
{% endblock %}
<!-- 当前页面需要执行的脚本 -->
{% block inline %}
    <script>
        jQuery(function ($) {
            var demo2 = $('.demo2').bootstrapDualListbox({
                nonSelectedListLabel: 'Non-selected',
                selectedListLabel: 'Selected',
                preserveSelectionOnMove: 'moved',
                moveOnSelect: false,
                nonSelectedFilter: ''
            });
        });
    </script>
{% endblock %}

