{% extends 'home/base_1.html' %}
{% load staticfiles %}
{% block pagecss %}
{% endblock %}


<!-- 正文开始 -->
{% block content %}
    <div class="row">
        <!-- 发布历史记录 -->
        <div class="col-xs-12">
            <div class="">
                <a class="btn btn-xs btn-success " href="/system/g/add/">添加组</a>
                <a class="btn btn-xs btn-success " href="/system/g/list/">刷新</a>
            </div>
            <table id="sample-table-1" class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                <tr>
                    <th class="center">ID</th>
                    <th>角色名</th>
                    <th>权限</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>


                <!-- 一条数据 -->
                {% for d in data %}
                    <tr>
                        <td class="center">{{ d.id }}</td>
                        <td>{{ d.name }} </td>
                        {#                        <td>{% for p in d.permissions.all %} {{ p.id }} - {{ p.codename }} - {{ p.name }}<br/>{% endfor %}</td>#}
                        <td>拥有权限：{{ d.permissions.count }}条</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false">操作 <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="/system/g/edit/?gid={{ d.id }}" id="id-btn-dialog20">
                                        <i class="ace-icon glyphicon glyphicon-edit bigger-120"></i>
                                        编辑
                                    </a></li>
                                    <li>
                                        <a href="javascript:if(confirm('确认删除吗?')) window.location='/system/g/del/?gid={{ d.id }}'"
                                           id="id-btn-dialog2">
                                            <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                                            删除
                                        </a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!-- ################分页:Begin###################### -->
            <div align="center">
                <ul class="pagination">
                    <!-- 上一页 -->
                    {% if data.has_previous %}
                        <li>
                            <a href="?page={{ data.previous_page_number }}&{{ args }}">
                                <i class="ace-icon fa fa-angle-double-left"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#">
                                <i class="ace-icon fa fa-angle-double-left"></i>
                            </a>
                        </li>
                    {% endif %}
                    <!-- 分页 -->
                    {% for pr in page_range %}
                        {% ifequal pr data.number %}
                            <li class="active">
                                <a href="#">{{ pr }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="?page={{ pr }}&{{ args }}">{{ pr }}</a>
                            </li>
                        {% endifequal %}
                    {% endfor %}

                    <!-- 下一页 -->
                    {% if data.has_next %}
                        <li>
                            <a href="?page={{ data.next_page_number }}&{{ args }}">
                                <i class="ace-icon fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#">
                                <i class="ace-icon fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- ################分页:End###################### -->

        </div>
        <!-- /.span -->
    </div>
{% endblock %}

<!-- 当前页面需要引入的js-->
{% block pagescripts %}
{% endblock %}


<!-- 当前页面需要执行的脚本 -->
{% block inline %}
    <script>
        $(document).ready(function () {
            $(".dataTables-example").dataTable();
            var oTable = $("#editable").dataTable();
            oTable.$("td").editable("#", {
                "callback": function (sValue, y) {
                    var aPos = oTable.fnGetPosition(this);
                    oTable.fnUpdate(sValue, aPos[0], aPos[1])
                }, "submitdata": function (value, settings) {
                    return {"row_id": this.parentNode.getAttribute("id"), "column": oTable.fnGetPosition(this)[2]}
                }, "width": "90%", "height": "100%"
            })
        });
    </script>
{% endblock %}


