{% extends 'home/base_1.html' %}
{% load staticfiles %}
<!-- 正文开始 -->
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="">
                <a href="/server/s/add/" class="btn btn-info">添加机器</a>
                <a href="/server/s/list/" class="btn btn-info">刷新</a>
            </div>
            <table class="table table-striped table-bordered table-hover dataTables-example" id="">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>IP</th>
                    <th>配置</th>
                    <th>机房</th>
                    <th>所有者</th>
                    <th>分配状态</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for s in data %}
                    <tr class="gradeC">
                        <td>{{ s.server_id }}</td>
                        <td>{{ s.server_name }}</td>
                        <td>{{ s.server_ip }}(内){% if s.server_internetip %}
                            <br>{{ s.server_internetip }}(公)
                        {% endif %}</td>
                        <td>CPU：{{ s.server_cpuinfo }}、内存：{{ s.server_memoryinfo }}、硬盘：{{ s.server_diskinfo }}</td>
                        <td>{{ s.server_location.name }}</td>
                        <td>{{ s.server_uid.last_name }}{{ s.server_uid.first_name }}</td>
                        <td><span class="label label-sm label-info">{{ s.get_server_assign_status_display }}</span></td>
                        {#                        <td><span class="label label-sm label-info">online</span></td>#}
                        <td>{{ s.server_description }}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false">操作 <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="/server/s/edit/?server_id={{ s.server_id }}"
                                           id="id-btn-dialog20">
                                        <i class="ace-icon glyphicon glyphicon-edit bigger-120"></i>
                                        编辑
                                    </a></li>
                                    <li sid="{{ s.server_id }}">
                                        <a class="delete" id="id-btn-dialog20">
                                            <i class="-iacecon glyphicon glyphicon-trash bigger-120"></i>
                                            删除
                                        </a></li>
                                    <li><a href="/server/n/flag/?server_id={{ s.server_id }}"
                                           id="id-btn-dialog20">
                                        <i class="ace-icon glyphicon glyphicon-check bigger-120"></i>
                                        修改主机名
                                    </a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block deletscripts %}
<script src="{% static "js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>
<script src="{% static "js/inspinia.js" %}"></script>
<script src="{% static "js/plugins/pace/pace.min.js" %}"></script>
<script src="{% static "js/plugins/sweetalert/sweetalert.min.js" %}"></script>
{% endblock deletscripts %}

{% block  pagescripts %}
{% endblock pagescripts %}

{% block inline %}
    <script>
        $(document).ready(function () {
            $(".dataTables-example").dataTable();
            var oTable = $("#editable").dataTable();
            oTable.$("td").editable("#", {
                "callback": function (sValue, y) {
                    var aPos = oTable.fnGetPosition(this);
                    oTable.fnUpdate(sValue, aPos[0], aPos[1])
                }, "submitdata": function (value, settings) {
                    return {"row_id": this.parentNode.getAttribute("id"), "column": oTable.fnGetPosition(this)[2]}
                }, "width": "90%", "height": "100%"
            })
        });
    </script>

    <script>
        $('.delete').click(function () {
            var sid = $(this).parent().attr("sid");
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function () {
            $.get('/server/s/del/?server_id='+sid, function (text, status) {
                if (text.code == 0) {
                    swal({
                        title: "Deleted!",
                        text: "Your imaginary file has been deleted.",
                        type: "success",
                        showCancelButton: false,
                        //confirmButtonColor: "#DD6B55",
                        //confirmButtonText: "Yes, delete it!",
                        //closeOnConfirm: false
                    }, function() {
                        window.location.reload();
                    });
                } else {
                    swal("Failed!", "Your imaginary file are not deleted", "error");
                }

            });
        });
    });
    </script>
{% endblock %}


